@import 'variables';

h1 {
    color: $red-color;
}

h2 {
    color: green;
}

// home page
.home {
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-circle {
        background-color: #4AAFE0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
    }

    .first {
        border-color: #4AAFE0 transparent transparent transparent;
        width: 70px;
        height: 70px;
        border-width: 20px;
        border-style: solid;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        animation: blink1 ease-in 1s;
        animation-iteration-count: infinite;
    }


    .second {
        border-color: #4AAFE0 transparent transparent transparent;
        width: 150px;
        height: 150px;
        border-width: 20px;
        border-style: solid;
        border-radius: 50%;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        animation: blink2 ease-in 1s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
    }

    .third {
        border-color: #4AAFE0 transparent transparent transparent;
        width: 230px;
        height: 230px;
        border-width: 20px;
        border-style: solid;
        border-radius: 50%;
        position: absolute;
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
        animation: blink3 ease-in 1s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }

    .fourth {
        border-color: #4AAFE0 transparent transparent transparent;
        width: 310px;
        height: 310px;
        border-width: 20px;
        border-style: solid;
        border-radius: 50%;
        position: absolute;
        top: -160px;
        left: 50%;
        transform: translateX(-50%);
        animation: blink4 ease-in 1s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
    }

    @keyframes blink1 {
        0% {
            opacity: 0
        }

        19% {
            opacity: 0
        }

        20% {
            opacity: 1
        }
    }

    @keyframes blink2 {
        0% {
            opacity: 0
        }

        39% {
            opacity: 0
        }

        40% {
            opacity: 1
        }
    }

    @keyframes blink3 {
        0% {
            opacity: 0
        }

        59% {
            opacity: 0
        }

        60% {
            opacity: 1
        }
    }

    @keyframes blink4 {
        0% {
            opacity: 0
        }

        79% {
            opacity: 0
        }

        80% {
            opacity: 1
        }
    }
}