<div class="home">
    <div class="home-circle">
        <div class="home-quarter first "></div>
        <div class="home-quarter second"></div>
        <div class="home-quarter third "></div>
        <div class="home-quarter fourth "></div>
    </div>
</div>